<h1>
    <img class="author-avatar" src="/assets/image/avatar.jpg">
    <span class="site-title">{{ site.header.author }}</span>
    <span class="site-description">{{ site.header.bio }}</span>
</h1>
<div class="header-icons">
    {% if site.header.links %}
    {% for link in site.footer.links %}
    {% if link.label and link.url %}
    <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
        <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>