<div id="particles-js">
    <div class="author-details">
        <img class="author-avatar" src="/assets/images/avatar.jpg">
        <h1 class="author-name">{{ site.header.author }}</h1>
        <h2 class="author-bio">{{ site.header.bio }}</h2>
        <h3 class="author-fun">and {{ site.header.fun }}</h2>
        <div class="author-links">
            {% if site.header.links %}
            {% for link in site.header.links %}
            {% if link.label and link.url %}
            <a class ="author-link" href="{{ link.url }}" rel="nofollow noopener noreferrer">
                <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>
                <!-- {{ link.label }} -->
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <a class="down" href="#{{ site.home[0].id }}" data-scroll=""><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
