body {
    background-color: #FAF9F6;
    color: #272822;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: #FFFFFF;
}

a:active,
a:hover {
    color: #ADFF2F;
}

.responsive-image {
    max-width: 100%;
    box-sizing: border-box;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        margin: 0.25em;
    }
}

span.icon-4 {
    // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    i {
        background-color: #FAF9F6;
        font-size: 4rem;
    }
}

.background1 {
    background-color: #FAF9F6;
    box-shadow: inset 0px 4px 6px #888, inset 0px -4px 6px #888;
}

.background2 {
    background-color: #478778;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    padding: 5rem 0 5rem;
    text-align: center;
}

.center {
    margin: 0 auto;
}

.pad {
    padding: 0 5rem;
}

@media screen and (min-width: 48em) {

    // 768px
    .pad-md-right {
        padding-left: 0;
        padding-right: 5rem;
    }
}