body {
    background-color: #FAF9F6;
    color: #272822;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: #FAF9F6;
}

a:active,
a:hover,
.links-container a:active,
.links-container a:hover,
.copyright a:active,
.copyright a:hover {
    color: #ADFF2F;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
        margin: 0.25em;
    }
}

.icon-4 {
    display: inline-block;
    background-color: #FFFFF0; //#5F9EA0;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

.background1 {
    background-color: #FAF9F6;
    box-shadow: inset 0px 4px 6px #888, inset 0px -4px 6px #888;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
    display: flex;
    padding: 5rem;
}

.content {
    margin: 0 auto;
    max-width: 80em;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.first-header {
    margin-top: 5rem;
}

.margin-left {
    margin-left: 0;
}

@media screen and (max-width: 27em) {
    section {
        padding: 2rem;
    }
}

@media screen and (min-width: 48em) { // >= 768px
    .first-header {
        margin-top: 0;
    }

    .margin-left {
        margin-left: 5rem;
    }
}