.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: #478778;
  color: #272822;
  text-align: center;
  // box-shadow: 0px 4px 6px #888;

  a {
    color: #272822;
  }

  .links-container {
    a {
      font-size: 2rem;
    }
  }

  .copyright {
      font-size: 1.5rem;

      a {
        font-size: 1.5rem;
      }
  }
}