@import url('https://fonts.googleapis.com/css?family=Chivo:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#particles-js {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #1a222c;
    min-height: 100vh;
    .particles-js-canvas-el {
        height: 100vh !important;
    }
}

body {
    background-color: #131418;
    color: #e6e1d9;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.author-name {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 80px;
    font-weight: 900;
}

.author-bio {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 40px;
    font-weight: normal;
    color: #0d0e10;
    text-transform: uppercase;
}

.author-fun {
    font-size: 20px;
    color: #289b24;
}

.author-name, .author-bio, .author-fun {
    padding: 0;
    margin: 0;
}

.author-details {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.author-avatar {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    animation: 0.5s ease-in forwards fadein;
    -webkit-animation: 0.5s ease-in forwards fadein;
    opacity: 1;
}

.author-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.author-link {
    // background-color: white;
    margin: 8px;
    font-size: 50px;
    color: white;
    text-decoration: none;
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    border: none !important;
}

.down i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    color: white;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: pulse 1.3s infinite;
    -webkit-animation: pulse 1.3s infinite;
}

.author-links i:active,
.author-links i:hover,
.down i:active,
.down i:hover {
    color: #289b24;
}