.splash {
  display: flex;
  overflow: hidden;
  vertical-align: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #272822;
  background-image: url('/assets/images/splash_1280.webp');
  min-height: 100vh;

  h1,
  h2,
  h3 {
      margin: 0;
  }

  h1 {
    font-family: 'Montserrat', 'Dosis', 'Helvetica Neue', Helvetica, Arial, serif;
  }

  h3 {
    font-style: italic;
  }

  .fa-brands {
    font-style: normal;
  }

  canvas {
    opacity: 0.35;
    height: 100vh !important;
  }

  .down {
    svg {
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
    }
  }
}

.author {
  position: absolute;
  top: 35%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0px 0px 20px #272822;
  color: #FFFAF0;
}

.down {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  border: none !important;
  text-align: right;
  cursor: pointer;
}

@media screen and (min-width: 100em) { // >= 1600px
  .splash {
    background-image: url('/assets/images/splash_1920.webp');
  }
}

@media screen and (min-width: 160em) { // >= 2560px
  .splash {
    background-image: url('/assets/images/splash_3840.webp');
  }
}