.font-montserrat {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;
}

.font-dosis {
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, serif;
}

.font-antic-slab {
  font-family: 'Antic Slab', 'Helvetica Neue', Helvetica, Arial, serif;
}