---
layout: default
permalink: /
---

<div class="splash">
    <canvas id="splash"></canvas>
    <div class="author">
        <h1>{{ site.header.author }}</h1>
        <h2>{{ site.header.bio }}</h2>
        <h3>
            <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
            {{ site.header.location }}
        </h3>
        <!-- fas fa-fw fa-map-marker-alt -->
        <div class="links-container">
            {% if site.header.links %}
            {% for link in site.header.links %}
            {% if link.label and link.url %}
            <a class="link" href="{{ link.url }}" rel="nofollow noopener noreferrer">
                <i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i>
                <!-- {{ link.label }} -->
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <a class="down" href="#about" data-scroll="">
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
    </a>
</div>

<section id="about" class="container section">
    <div class="row">
        <div class="three columns">
            <img class="u-max-full-width" src="/assets/images/avatar.jpg">
        </div>
        <div class="six columns">
            <p>
                This is a whole lot of content about me and I want to see how this looks.
            </p>
        </div>
        <div class="three columns">
            <img class="u-max-full-width" src="/assets/images/avatar.jpg">
        </div>
    </div>
</section>
